{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row" style="border:1px solid black">
        <div class="col" style="border:1px solid red">
            {#dump(products)#}

            {% for item in products %}
            {{item.name}} / {{item.price}} / {{item.slug}} <br>
            <br>
            <br>
            {% endfor  %}
        </div>

        <div class="col" style="border:1px solid red">

        </div>

    </div>

</div>


{% endblock %}